# Pandas Review

<h1>What is Pandas?</h1>


So far you've likely been using the Data Science package. While it's a great wrapper for pandas, it does have its limitations. Especially as you move onto upper division courses or even into the industry. The following material is basically just a cheat sheet, but if you want more in depth knoweldge there are plenty of free courses online such as <a href ="https://www.kaggle.com/learn/pandas"> Kaggle</a>, or even the course material found in <a href = "https://www.textbook.ds100.org/ch/03/pandas_intro.html">Data 100</a>.

<h3>Pandas</h3>
To begin, we need to import Pandas just like the Data Science package

In [1]:
import pandas as pd

# DataFrames and Series



Rather than using Tables, Pandas uses Dataframes and Series


<b>DataFrame</b>: 2D data tabular data.

<b>Series</b>: Array data(Just a single column)

<b>Index</b>: A sequence of row labels, not always numerical but should be unique

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2], 'Maybe': [1,2]})

   Yes   No  Maybe
0   50  131      1
1   21    2      2

In [3]:
pd.Series(['This', 'Is', 'A', 'Series'])

0      This
1        Is
2         A
3    Series
dtype: object

In [4]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2], 'Maybe': [1,2]}, index=['Kickback at 6', 'Kickback at 7'])

               Yes   No  Maybe
Kickback at 6   50  131      1
Kickback at 7   21    2      2

In [5]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Reading Files and other good commands to remember

<b>.read_csv()</b>
<ul>
    <li>Reads Files</li>
    <li>Pandas automatically creates an index column, but Index column can be specified with index_col</li>
    <li> Depending on the dataset, you can also set a delimiter(splits the data into columns)
    
</ul>

<b>.to_csv()</b>
<ul>
    <li>Wrties Files</li>
   
</ul>

<b>.shape</b>
<ul>
    <li>Gives you info on how many total records and items there are</li>
</ul>

<b>.head()</b>
<ul>
    <li>Same as the data science package, and it gives you the first 5 rows</li>
 </ul>

<b>.set_index()</b>
<ul>
    <li>Use this method if you want to change your index</li>
</ul>
<b>.describe()</b>
<ul>
    <li>Pandas has a bunch of different summary functions including describe</li>
    
</ul>
<b>value_counts(), .mean(), .unique()</b>
<ul>
    
  <li> <a href = 'https://pandas.pydata.org/pandas-docs/stable/reference/frame.htmlReference'> reference </a></li>
    
</ul>

In [90]:
nfl= pd.read_csv('football.csv')

In [13]:
nfl.shape

(42186, 45)

In [14]:
nfl.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019100605,2019-10-06,1,2,25,OAK,CHI,1,10,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1,2019100605,2019-10-06,1,1,45,OAK,CHI,2,9,51,...,0,0,RIGHT GUARD,49,OPP,0,NaN,0,NaN,0
2,2019101400,2019-10-14,1,10,34,DET,GB,1,10,84,...,0,0,RIGHT TACKLE,16,OPP,0,NaN,0,NaN,0
3,2019101400,2019-10-14,1,9,55,DET,GB,2,9,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
4,2019101400,2019-10-14,1,9,10,DET,GB,3,3,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0

In [17]:
nfl= pd.read_csv('football.csv', index_col=0)
#Our index column is now GameId
nfl.head()

,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,Unnamed: 10,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
GameId,,,,,,,,,,,,,,,,,,,,,
2019100605,2019-10-06,1,2,25,OAK,CHI,1,10,50,NaN,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
2019100605,2019-10-06,1,1,45,OAK,CHI,2,9,51,NaN,...,0,0,RIGHT GUARD,49,OPP,0,NaN,0,NaN,0
2019101400,2019-10-14,1,10,34,DET,GB,1,10,84,NaN,...,0,0,RIGHT TACKLE,16,OPP,0,NaN,0,NaN,0
2019101400,2019-10-14,1,9,55,DET,GB,2,9,85,NaN,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
2019101400,2019-10-14,1,9,10,DET,GB,3,3,91,NaN,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0

# Indexing/Selecting/Assigning

In [74]:
nfl= pd.read_csv('football.csv')
nfl.head()
#I'm resetting the index here to make iloc and loc easier to read

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019100605,2019-10-06,1,2,25,OAK,CHI,1,10,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1,2019100605,2019-10-06,1,1,45,OAK,CHI,2,9,51,...,0,0,RIGHT GUARD,49,OPP,0,NaN,0,NaN,0
2,2019101400,2019-10-14,1,10,34,DET,GB,1,10,84,...,0,0,RIGHT TACKLE,16,OPP,0,NaN,0,NaN,0
3,2019101400,2019-10-14,1,9,55,DET,GB,2,9,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
4,2019101400,2019-10-14,1,9,10,DET,GB,3,3,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0

Because we are using python here and if you think of DataFrames as 2d arrays/lists, there are plenty of ways to access specific values

Using our nfl data, I'm just going to demonstrate some ways to access values

In [75]:
nfl.GameDate.head()

0    2019-10-06
1    2019-10-06
2    2019-10-14
3    2019-10-14
4    2019-10-14
Name: GameDate, dtype: object

In [76]:
nfl['GameDate'].head()

0    2019-10-06
1    2019-10-06
2    2019-10-14
3    2019-10-14
4    2019-10-14
Name: GameDate, dtype: object

But to make things easier pandas has the <b>.loc</b> and <b>.iloc</b> functions:

<ul>
    <li><b>Unlike python, both functions are row first, column second</b>
    <li> Otherwise they function very similarily to normal lists in python
    <li> <b>Differences</b>
        <ul>
        <li>Both iloc and loc are very similar but iloc is index based and loc is label based
        <li> So one uses numbers, the other uses labels
            <li>iloc uses the Python stdlib indexing scheme, so 0:10 will select entries 0,...,9.
            <li>loc indexes inclusively. So 0:10 will select entries 0,...,10.</li>
            <li> Which one to use? Well it would primarily depend on indices, if your indices were alphatetical rather than numerical it would be easier to use loc and vice versa. Also when doing conditional selections, it's better to use loc
            <ul>
    </ul>

# ILOC

In [77]:
nfl.iloc[0].head()

GameId      2019100605
GameDate    2019-10-06
Quarter              1
Minute               2
Second              25
Name: 0, dtype: object

In [78]:
nfl.iloc[0][0]
#Here we retrieve the first gameID in our dataset

2019100605

In [79]:
#If we want to get a specific column, we can use the : operator and then target a specific column
nfl.iloc[:,0].head()
#This would return all the values in column 0(Or GameID)

0    2019100605
1    2019100605
2    2019101400
3    2019101400
4    2019101400
Name: GameId, dtype: int64

In [80]:
nfl.iloc[:3,0]
#Like python, there are a lot of different ways to sort through your data
#Here we select the GameDates of the first 3 rows

0    2019100605
1    2019100605
2    2019101400
Name: GameId, dtype: int64

# LOC

In [85]:
nfl.loc[0,'GameDate']
#Retrieving the first gameDate in our data
#It would probably be easier to use iloc in this case as our index is a number

'2019-10-06'

In [91]:
nfl.loc[:,'GameDate'].head()
#Works the same as iloc

0    2019-10-06
1    2019-10-06
2    2019-10-14
3    2019-10-14
4    2019-10-14
Name: GameDate, dtype: object

<h2> Conditional Selection</h2>

Again like python, we can select items based on boolean statements. This is basically using where statements in the Data Science package

In [105]:
nfl.head()
nfl.loc[nfl.OffenseTeam == 'OAK']
#Returns a Dataframe of all Oakland Raiders offensive snaps

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019100605,2019-10-06,1,2,25,OAK,CHI,1,10,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1,2019100605,2019-10-06,1,1,45,OAK,CHI,2,9,51,...,0,0,RIGHT GUARD,49,OPP,0,NaN,0,NaN,0
479,2019122201,2019-12-22,1,6,33,OAK,LAC,4,9,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
480,2019122201,2019-12-22,1,7,8,OAK,LAC,3,15,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
481,2019122201,2019-12-22,1,7,12,OAK,LAC,2,15,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
482,2019122201,2019-12-22,1,8,19,OAK,LAC,1,10,57,...,0,0,RIGHT END,43,OPP,1,OAK,1,OFFENSIVE HOLDING,10
483,2019122201,2019-12-22,1,10,57,OAK,LAC,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1013,2019121510,2019-12-15,2,14,17,OAK,JAX,3,18,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
1014,2019121510,2019-12-15,2,14,20,OAK,JAX,2,18,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
1015,2019121510,2019-12-15,2,15,0,OAK,JAX,1,10,60,...,0,0,NaN,40,OPP,0,NaN,0,NaN,0
1020,2019121510,2019-12-15,1,11,29,OAK,JAX,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1021,2019121510,2019-12-15,1,11,38,OAK,JAX,2,9,60,...,0,0,NaN,40,OPP,0,NaN,0,NaN,0
1022,2019121510,2019-12-15,1,12,15,OAK,JAX,1,10,59,...,0,0,RIGHT TACKLE,41,OPP,0,NaN,0,NaN,0
1154,2019122201,2019-12-22,4,0,41,OAK,LAC,3,10,51,...,0,0,LEFT GUARD,49,OPP,0,NaN,0,NaN,0
1155,2019122201,2019-12-22,4,1,25,OAK,LAC,2,10,51,...,0,0,CENTER,49,OPP,0,NaN,0,NaN,0
1156,2019122201,2019-12-22,4,1,28,OAK,LAC,1,10,51,...,0,0,CENTER,49,OPP,0,NaN,0,NaN,0
1209,2019122201,2019-12-22,4,3,40,OAK,LAC,4,2,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1210,2019122201,2019-12-22,4,8,34,OAK,LAC,4,2,71,...,0,0,NaN,29,OPP,0,NaN,0,NaN,0
1211,2019122201,2019-12-22,4,9,20,OAK,LAC,3,2,71,...,0,0,LEFT END,29,OPP,0,NaN,0,NaN,0
1212,2019122201,2019-12-22,4,10,4,OAK,LAC,2,10,63,...,0,0,NaN,37,OPP,0,NaN,0,NaN,0
1213,2019122201,2019-12-22,4,10,49,OAK,LAC,1,10,63,...,0,0,LEFT GUARD,37,OPP,0,NaN,0,NaN,0
1214,2019122201,2019-12-22,4,11,32,OAK,LAC,3,3,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
1215,2019122201,2019-12-22,4,12,16,OAK,LAC,2,9,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
1216,2019122201,2019-12-22,4,12,58,OAK,LAC,1,10,51,...,0,0,LEFT END,49,OPP,0,NaN,0,NaN,0
1224,2019122201,2019-12-22,3,6,11,OAK,LAC,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1225,2019122201,2019-12-22,3,6,16,OAK,LAC,1,5,95,...,0,0,LEFT GUARD,5,OPP,0,NaN,0,NaN,0
1226,2019122201,2019-12-22,3,7,1,OAK,LAC,3,5,89,...,0,0,NaN,11,OPP,0,NaN,0,NaN,0
1227,2019122201,2019-12-22,3,7,48,OAK,LAC,2,8,86,...,0,0,NaN,14,OPP,0,NaN,0,NaN,0
1228,2019122201,2019-12-22,3,8,31,OAK,LAC,1,10,84,...,0,0,RIGHT GUARD,16,OPP,0,NaN,0,NaN,0
1229,2019122201,2019-12-22,3,9,14,OAK,LAC,2,4,79,...,0,0,RIGHT TACKLE,21,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39740,2019122201,2019-12-22,4,3,45,OAK,LAC,3,6,46,...,0,0,RIGHT GUARD,46,OWN,0,NaN,0,NaN,0
40027,2019122201,2019-12-22,1,15,0,OAK,LAC,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
40034,2019122201,2019-12-22,1,12,45,OAK,LAC,1,10,29,...,0,0,NaN,29,OWN,0,NaN,0,NaN,0
40035,2019122201,2019-12-22,1,12,26,OAK,LAC,1,10,40,...,0,0,NaN,40,OWN,0,NaN,0,NaN,0
40036,2019122201,2019-12-22,1,11,53,OAK,LAC,2,6,44,...,0,0,RIGHT END,44,OWN,0,NaN,0,NaN,0
40037,2019122201,2019-12-22,1,11,7,OAK,LAC,3,6,44,...,0,0,NaN,44,OWN,0,NaN,0,NaN,0
40038,2019122201,2019-12-22,1,10,57,OAK,LAC,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
40042,2019122201,2019-12-22,1,9,22,OAK,LAC,1,10,15,...,0,0,NaN,15,OWN,0,NaN,0,NaN,0
40043,2019122201,2019-12-22,1,9,0,OAK,LAC,2,11,14,...,0,0,NaN,14,OWN,0,NaN,0,NaN,0
40044,2019122201,2019-12-22,1,7,52,OAK,LAC,1,20,47,...,0,0,CENTER,47,OWN,0,NaN,0,NaN,0
40049,2019122201,2019-12-22,1,4,34,OAK,LAC,1,10,36,...,0,0,CENTER,36,OWN,0,NaN,0,NaN,0
40050,2019122201,2019-12-22,1,3,57,OAK,LAC,2,9,37,...,0,0,NaN,37,OWN,0,NaN,0,NaN,0
40051,2019122201,2019-12-22,1,3,10,OAK,LAC,3,16,30,...,0,0,NaN,30,OWN,0,NaN,0,NaN,0
40052,2019122201,2019-12-22,1,2,33,OAK,LAC,4,4,42,...,0,0,NaN,42,OWN,0,NaN,0,NaN,0
41220,2019120812,2019-12-08,1,15,0,OAK,TEN,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
41428,2019112406,2019-11-24,3,3,26,OAK,NYJ,4,4,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
41900,2019100605,2019-10-06,1,0,8,OAK,CHI,2,1,83,...,0,0,RIGHT TACKLE,17,OPP,0,NaN,0,NaN,0
41901,2019100605,2019-10-06,1,0,36,OAK,CHI,1,10,74,...,0,0,RIGHT TACKLE,26,OPP,0,NaN,0,NaN,0
41902,2019100605,2019-10-06,1,1,9,OAK,CHI,3,6,54,...,0,0,NaN,46,OPP,0,NaN,0,NaN,0
41903,2019100605,2019-10-06,1,3,2,OAK,CHI,1,10,40,...,0,0,NaN,40,OWN,0,NaN,0,NaN,0
41904,2019100605,2019-10-06,1,3,43,OAK,CHI,3,1,19,...,0,0,LEFT END,19,OWN,0,NaN,0,NaN,0
41905,2019100605,2019-10-06,1,4,24,OAK,CHI,2,7,13,...,0,0,NaN,13,OWN,0,NaN,0,NaN,0
41906,2019100605,2019-10-06,1,5,1,OAK,CHI,1,10,10,...,0,0,RIGHT TACKLE,10,OWN,0,NaN,0,NaN,0
41989,2019092905,2019-09-29,2,2,17,OAK,IND,4,16,9,...,0,0,NaN,9,OWN,0,NaN,0,NaN,0
41990,2019092905,2019-09-29,2,2,19,OAK,IND,3,7,18,...,0,0,NaN,18,OWN,1,OAK,0,UNNECESSARY ROUGHNESS,9
41991,2019092905,2019-09-29,2,2,57,OAK,IND,2,12,13,...,0,0,NaN,13,OWN,0,NaN,0,NaN,0
41992,2019092905,2019-09-29,2,3,38,OAK,IND,1,10,15,...,0,0,LEFT GUARD,15,OWN,0,NaN,0,NaN,0
42073,2019092205,2019-09-22,3,4,4,OAK,MIN,3,5,57,...,0,0,CENTER,43,OPP,0,NaN,0,NaN,0
42149,2019091510,2019-09-15,2,13,47,OAK,KC,2,5,42,...,0,0,LEFT GUARD,42,OWN,0,NaN,0,NaN,0
42152,2019091510,2019-09-15,4,14,4,OAK,KC,1,10,22,...,0,0,LEFT END,22,OWN,0,NaN,0,NaN,0

In [116]:
nfl.loc[(nfl.OffenseTeam == 'OAK') & (nfl.Down >3)]
#All Oakland Raider's 4th down plays

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
479,2019122201,2019-12-22,1,6,33,OAK,LAC,4,9,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
1209,2019122201,2019-12-22,4,3,40,OAK,LAC,4,2,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1210,2019122201,2019-12-22,4,8,34,OAK,LAC,4,2,71,...,0,0,NaN,29,OPP,0,NaN,0,NaN,0
1240,2019122201,2019-12-22,2,1,3,OAK,LAC,4,2,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
1530,2019121510,2019-12-15,4,1,48,OAK,JAX,4,6,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
1531,2019121510,2019-12-15,4,1,52,OAK,JAX,4,11,68,...,0,0,NaN,32,OPP,1,JAX,1,RUNNING INTO THE KICKER,5
1557,2019121510,2019-12-15,3,9,1,OAK,JAX,4,1,51,...,0,0,NaN,49,OPP,0,NaN,0,NaN,0
1564,2019121510,2019-12-15,2,2,24,OAK,JAX,4,8,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1659,2019121510,2019-12-15,2,7,46,OAK,JAX,4,25,54,...,0,0,NaN,46,OPP,0,NaN,0,NaN,0
1995,2019120812,2019-12-08,4,3,50,OAK,TEN,4,1,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
2700,2019120812,2019-12-08,3,10,35,OAK,TEN,4,6,57,...,0,0,NaN,43,OPP,0,NaN,0,NaN,0
3194,2019120105,2019-12-01,2,9,58,OAK,KC,4,1,60,...,0,0,RIGHT END,40,OPP,0,NaN,0,NaN,0
3198,2019120105,2019-12-01,1,0,48,OAK,KC,4,8,62,...,0,0,NaN,38,OPP,0,NaN,0,NaN,0
3419,2019120105,2019-12-01,3,2,50,OAK,KC,4,1,60,...,0,0,RIGHT GUARD,40,OPP,0,NaN,0,NaN,0
3432,2019120105,2019-12-01,2,1,9,OAK,KC,4,17,74,...,0,0,NaN,26,OPP,0,NaN,0,NaN,0
5018,2019111709,2019-11-17,4,2,0,OAK,CIN,4,8,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
5056,2019111709,2019-11-17,4,9,15,OAK,CIN,4,1,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
5061,2019111709,2019-11-17,4,11,5,OAK,CIN,4,1,96,...,0,0,CENTER,4,OPP,0,NaN,0,NaN,0
5216,2019112406,2019-11-24,2,7,17,OAK,NYJ,4,2,75,...,0,0,NaN,25,OPP,0,NaN,0,NaN,0
5237,2019112406,2019-11-24,1,10,0,OAK,NYJ,4,8,71,...,0,0,NaN,29,OPP,0,NaN,0,NaN,0
5616,2019112406,2019-11-24,4,11,39,OAK,NYJ,4,11,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
6521,2019110700,2019-11-07,3,8,1,OAK,LAC,4,1,66,...,0,0,NaN,34,OPP,0,NaN,0,NaN,0
6525,2019110700,2019-11-07,3,11,36,OAK,LAC,4,2,96,...,0,0,NaN,4,OPP,0,NaN,0,NaN,0
6536,2019110700,2019-11-07,2,2,0,OAK,LAC,4,1,60,...,0,0,CENTER,40,OPP,0,NaN,0,NaN,0
6794,2019110700,2019-11-07,1,8,5,OAK,LAC,4,13,78,...,0,0,NaN,22,OPP,0,NaN,0,NaN,0
7677,2019110307,2019-11-03,3,10,55,OAK,DET,4,2,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
7692,2019110307,2019-11-03,2,8,32,OAK,DET,4,3,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
8229,2019102704,2019-10-27,4,10,52,OAK,HOU,4,7,75,...,0,0,NaN,25,OPP,0,NaN,0,NaN,0
9195,2019102004,2019-10-20,4,11,15,OAK,GB,4,1,99,...,0,0,CENTER,1,OPP,0,NaN,0,NaN,0
9356,2019102004,2019-10-20,1,12,25,OAK,GB,4,7,74,...,0,0,NaN,26,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29874,2019110307,2019-11-03,2,13,34,OAK,DET,4,5,86,...,0,0,NaN,14,OPP,0,NaN,0,NaN,0
30556,2019110700,2019-11-07,3,4,2,OAK,LAC,4,10,53,...,0,0,NaN,47,OPP,0,NaN,0,NaN,0
30565,2019110700,2019-11-07,4,12,25,OAK,LAC,4,12,44,...,0,0,NaN,44,OWN,1,OAK,1,FALSE START,5
30566,2019110700,2019-11-07,4,12,19,OAK,LAC,4,17,39,...,0,0,NaN,39,OWN,0,NaN,0,NaN,0
30841,2019110700,2019-11-07,1,1,48,OAK,LAC,4,13,17,...,0,0,NaN,17,OWN,0,LAC,0,ILLEGAL BLOCK ABOVE THE WAIST,0
30853,2019110700,2019-11-07,2,6,30,OAK,LAC,4,2,19,...,0,0,NaN,19,OWN,1,LAC,0,OFFENSIVE HOLDING,0
32775,2019111709,2019-11-17,1,12,20,OAK,CIN,4,15,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
32791,2019111709,2019-11-17,2,15,0,OAK,CIN,4,9,36,...,0,0,NaN,36,OWN,0,NaN,0,NaN,0
32828,2019111709,2019-11-17,3,5,31,OAK,CIN,4,6,29,...,0,0,NaN,29,OWN,0,NaN,0,NaN,0
32836,2019111709,2019-11-17,3,0,26,OAK,CIN,4,4,38,...,0,0,NaN,38,OWN,0,NaN,0,NaN,0
33810,2019112406,2019-11-24,1,3,10,OAK,NYJ,4,13,39,...,0,0,NaN,39,OWN,0,NaN,0,NaN,0
33830,2019112406,2019-11-24,2,2,0,OAK,NYJ,4,9,22,...,0,0,NaN,22,OWN,1,OAK,0,UNNECESSARY ROUGHNESS,15
33835,2019112406,2019-11-24,2,0,15,OAK,NYJ,4,3,45,...,0,0,NaN,45,OWN,0,NaN,0,NaN,0
33850,2019112406,2019-11-24,3,8,49,OAK,NYJ,4,1,39,...,0,0,CENTER,39,OWN,0,NaN,0,NaN,0
33865,2019112406,2019-11-24,4,14,19,OAK,NYJ,4,2,46,...,0,0,NaN,46,OWN,0,NaN,0,NaN,0
33947,2019112406,2019-11-24,4,3,34,OAK,NYJ,4,5,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
35862,2019120105,2019-12-01,3,9,12,OAK,KC,4,13,23,...,0,0,NaN,23,OWN,0,NaN,0,NaN,0
35871,2019120105,2019-12-01,4,15,0,OAK,KC,4,11,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
37371,2019120812,2019-12-08,2,14,23,OAK,TEN,4,9,49,...,0,0,NaN,49,OWN,0,NaN,0,NaN,0
37429,2019120812,2019-12-08,3,8,11,OAK,TEN,4,8,49,...,0,0,NaN,49,OWN,0,NaN,0,NaN,0
37439,2019120812,2019-12-08,3,3,28,OAK,TEN,4,3,37,...,0,0,NaN,37,OWN,0,NaN,0,NaN,0
37681,2019120812,2019-12-08,4,10,36,OAK,TEN,4,16,45,...,0,0,NaN,45,OWN,0,NaN,0,NaN,0
38845,2019121510,2019-12-15,1,4,56,OAK,JAX,4,7,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
38859,2019121510,2019-12-15,2,13,44,OAK,JAX,4,26,44,...,0,0,NaN,44,OWN,0,NaN,0,NaN,0
39181,2019121510,2019-12-15,4,11,21,OAK,JAX,4,21,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
39686,2019122201,2019-12-22,2,12,4,OAK,LAC,4,13,38,...,0,0,NaN,38,OWN,0,NaN,0,NaN,0
39697,2019122201,2019-12-22,2,6,5,OAK,LAC,4,13,15,...,0,0,NaN,15,OWN,0,NaN,0,NaN,0
40052,2019122201,2019-12-22,1,2,33,OAK,LAC,4,4,42,...,0,0,NaN,42,OWN,0,NaN,0,NaN,0
41428,2019112406,2019-11-24,3,3,26,OAK,NYJ,4,4,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
41989,2019092905,2019-09-29,2,2,17,OAK,IND,4,16,9,...,0,0,NaN,9,OWN,0,NaN,0,NaN,0

<h2> Built in conditionals</h2>


Pandas also has built in conditionals to make life easier:

<ul>
    <li> .isin() - checks whether a value is in a list</li>
    <li> .isnull() - returns values that are null('NaN')/li>
    <li> .notnull() - returns values that aren't null</li>
    </ul>

In [120]:
nfl.loc[(nfl.OffenseTeam == 'OAK') & (nfl.Down.isin([4]))]
#This is the same as what we did above but using .isin as our conditional selector

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
479,2019122201,2019-12-22,1,6,33,OAK,LAC,4,9,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
1209,2019122201,2019-12-22,4,3,40,OAK,LAC,4,2,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1210,2019122201,2019-12-22,4,8,34,OAK,LAC,4,2,71,...,0,0,NaN,29,OPP,0,NaN,0,NaN,0
1240,2019122201,2019-12-22,2,1,3,OAK,LAC,4,2,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
1530,2019121510,2019-12-15,4,1,48,OAK,JAX,4,6,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
1531,2019121510,2019-12-15,4,1,52,OAK,JAX,4,11,68,...,0,0,NaN,32,OPP,1,JAX,1,RUNNING INTO THE KICKER,5
1557,2019121510,2019-12-15,3,9,1,OAK,JAX,4,1,51,...,0,0,NaN,49,OPP,0,NaN,0,NaN,0
1564,2019121510,2019-12-15,2,2,24,OAK,JAX,4,8,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1659,2019121510,2019-12-15,2,7,46,OAK,JAX,4,25,54,...,0,0,NaN,46,OPP,0,NaN,0,NaN,0
1995,2019120812,2019-12-08,4,3,50,OAK,TEN,4,1,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
2700,2019120812,2019-12-08,3,10,35,OAK,TEN,4,6,57,...,0,0,NaN,43,OPP,0,NaN,0,NaN,0
3194,2019120105,2019-12-01,2,9,58,OAK,KC,4,1,60,...,0,0,RIGHT END,40,OPP,0,NaN,0,NaN,0
3198,2019120105,2019-12-01,1,0,48,OAK,KC,4,8,62,...,0,0,NaN,38,OPP,0,NaN,0,NaN,0
3419,2019120105,2019-12-01,3,2,50,OAK,KC,4,1,60,...,0,0,RIGHT GUARD,40,OPP,0,NaN,0,NaN,0
3432,2019120105,2019-12-01,2,1,9,OAK,KC,4,17,74,...,0,0,NaN,26,OPP,0,NaN,0,NaN,0
5018,2019111709,2019-11-17,4,2,0,OAK,CIN,4,8,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
5056,2019111709,2019-11-17,4,9,15,OAK,CIN,4,1,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
5061,2019111709,2019-11-17,4,11,5,OAK,CIN,4,1,96,...,0,0,CENTER,4,OPP,0,NaN,0,NaN,0
5216,2019112406,2019-11-24,2,7,17,OAK,NYJ,4,2,75,...,0,0,NaN,25,OPP,0,NaN,0,NaN,0
5237,2019112406,2019-11-24,1,10,0,OAK,NYJ,4,8,71,...,0,0,NaN,29,OPP,0,NaN,0,NaN,0
5616,2019112406,2019-11-24,4,11,39,OAK,NYJ,4,11,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
6521,2019110700,2019-11-07,3,8,1,OAK,LAC,4,1,66,...,0,0,NaN,34,OPP,0,NaN,0,NaN,0
6525,2019110700,2019-11-07,3,11,36,OAK,LAC,4,2,96,...,0,0,NaN,4,OPP,0,NaN,0,NaN,0
6536,2019110700,2019-11-07,2,2,0,OAK,LAC,4,1,60,...,0,0,CENTER,40,OPP,0,NaN,0,NaN,0
6794,2019110700,2019-11-07,1,8,5,OAK,LAC,4,13,78,...,0,0,NaN,22,OPP,0,NaN,0,NaN,0
7677,2019110307,2019-11-03,3,10,55,OAK,DET,4,2,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
7692,2019110307,2019-11-03,2,8,32,OAK,DET,4,3,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
8229,2019102704,2019-10-27,4,10,52,OAK,HOU,4,7,75,...,0,0,NaN,25,OPP,0,NaN,0,NaN,0
9195,2019102004,2019-10-20,4,11,15,OAK,GB,4,1,99,...,0,0,CENTER,1,OPP,0,NaN,0,NaN,0
9356,2019102004,2019-10-20,1,12,25,OAK,GB,4,7,74,...,0,0,NaN,26,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29874,2019110307,2019-11-03,2,13,34,OAK,DET,4,5,86,...,0,0,NaN,14,OPP,0,NaN,0,NaN,0
30556,2019110700,2019-11-07,3,4,2,OAK,LAC,4,10,53,...,0,0,NaN,47,OPP,0,NaN,0,NaN,0
30565,2019110700,2019-11-07,4,12,25,OAK,LAC,4,12,44,...,0,0,NaN,44,OWN,1,OAK,1,FALSE START,5
30566,2019110700,2019-11-07,4,12,19,OAK,LAC,4,17,39,...,0,0,NaN,39,OWN,0,NaN,0,NaN,0
30841,2019110700,2019-11-07,1,1,48,OAK,LAC,4,13,17,...,0,0,NaN,17,OWN,0,LAC,0,ILLEGAL BLOCK ABOVE THE WAIST,0
30853,2019110700,2019-11-07,2,6,30,OAK,LAC,4,2,19,...,0,0,NaN,19,OWN,1,LAC,0,OFFENSIVE HOLDING,0
32775,2019111709,2019-11-17,1,12,20,OAK,CIN,4,15,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
32791,2019111709,2019-11-17,2,15,0,OAK,CIN,4,9,36,...,0,0,NaN,36,OWN,0,NaN,0,NaN,0
32828,2019111709,2019-11-17,3,5,31,OAK,CIN,4,6,29,...,0,0,NaN,29,OWN,0,NaN,0,NaN,0
32836,2019111709,2019-11-17,3,0,26,OAK,CIN,4,4,38,...,0,0,NaN,38,OWN,0,NaN,0,NaN,0
33810,2019112406,2019-11-24,1,3,10,OAK,NYJ,4,13,39,...,0,0,NaN,39,OWN,0,NaN,0,NaN,0
33830,2019112406,2019-11-24,2,2,0,OAK,NYJ,4,9,22,...,0,0,NaN,22,OWN,1,OAK,0,UNNECESSARY ROUGHNESS,15
33835,2019112406,2019-11-24,2,0,15,OAK,NYJ,4,3,45,...,0,0,NaN,45,OWN,0,NaN,0,NaN,0
33850,2019112406,2019-11-24,3,8,49,OAK,NYJ,4,1,39,...,0,0,CENTER,39,OWN,0,NaN,0,NaN,0
33865,2019112406,2019-11-24,4,14,19,OAK,NYJ,4,2,46,...,0,0,NaN,46,OWN,0,NaN,0,NaN,0
33947,2019112406,2019-11-24,4,3,34,OAK,NYJ,4,5,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
35862,2019120105,2019-12-01,3,9,12,OAK,KC,4,13,23,...,0,0,NaN,23,OWN,0,NaN,0,NaN,0
35871,2019120105,2019-12-01,4,15,0,OAK,KC,4,11,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
37371,2019120812,2019-12-08,2,14,23,OAK,TEN,4,9,49,...,0,0,NaN,49,OWN,0,NaN,0,NaN,0
37429,2019120812,2019-12-08,3,8,11,OAK,TEN,4,8,49,...,0,0,NaN,49,OWN,0,NaN,0,NaN,0
37439,2019120812,2019-12-08,3,3,28,OAK,TEN,4,3,37,...,0,0,NaN,37,OWN,0,NaN,0,NaN,0
37681,2019120812,2019-12-08,4,10,36,OAK,TEN,4,16,45,...,0,0,NaN,45,OWN,0,NaN,0,NaN,0
38845,2019121510,2019-12-15,1,4,56,OAK,JAX,4,7,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
38859,2019121510,2019-12-15,2,13,44,OAK,JAX,4,26,44,...,0,0,NaN,44,OWN,0,NaN,0,NaN,0
39181,2019121510,2019-12-15,4,11,21,OAK,JAX,4,21,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
39686,2019122201,2019-12-22,2,12,4,OAK,LAC,4,13,38,...,0,0,NaN,38,OWN,0,NaN,0,NaN,0
39697,2019122201,2019-12-22,2,6,5,OAK,LAC,4,13,15,...,0,0,NaN,15,OWN,0,NaN,0,NaN,0
40052,2019122201,2019-12-22,1,2,33,OAK,LAC,4,4,42,...,0,0,NaN,42,OWN,0,NaN,0,NaN,0
41428,2019112406,2019-11-24,3,3,26,OAK,NYJ,4,4,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
41989,2019092905,2019-09-29,2,2,17,OAK,IND,4,16,9,...,0,0,NaN,9,OWN,0,NaN,0,NaN,0

0    2019-10-06
1    2019-10-06
2    2019-10-14
Name: GameDate, dtype: object

# Mapping and Applying

This is basically just the same as the apply function from Data Science.

Mapping is applied to a Series while you use apply when working with Dataframes.

Neither modify data, so if you want to save your data, save it to a variable

In [132]:
nfl.loc[(nfl.OffenseTeam == 'OAK') & (nfl.Down.isin([4]))].ToGo.mean()

7.257142857142857

In [135]:
fourthDownAverage = nfl.loc[(nfl.Down.isin([4]))].ToGo.mean()
nfl.ToGo.map(lambda x: x - fourthDownAverage)

0        1.868318
1        0.868318
2        1.868318
3        0.868318
4       -5.131682
5        1.868318
6        1.868318
7       -7.131682
8        1.868318
9        1.868318
10      -2.131682
11       1.868318
12       3.868318
13      -3.131682
14      -8.131682
15      -2.131682
16       1.868318
17       0.868318
18       1.868318
19      -1.131682
20       1.868318
21      -7.131682
22       0.868318
23       1.868318
24       1.868318
25      -6.131682
26      -7.131682
27      -8.131682
28      -1.131682
29       1.868318
           ...
42156   -8.131682
42157   -8.131682
42158   -8.131682
42159    1.868318
42160   -8.131682
42161   -8.131682
42162   -8.131682
42163   -7.131682
42164   -8.131682
42165   -8.131682
42166   -8.131682
42167   -8.131682
42168   -8.131682
42169   -8.131682
42170   -8.131682
42171   -8.131682
42172   -8.131682
42173   -8.131682
42174   -8.131682
42175   -8.131682
42176   -8.131682
42177   -7.131682
42178   -8.131682
42179   -8.131682
42180   -8.131682
42181   -8.131682
42182   -8.131682
42183   -8.131682
42184   -8.131682
42185   -8.131682
Name: ToGo, Length: 42186, dtype: float64

In [137]:
def remean_4Down(row):
    row.ToGo = row.ToGo - fourthDownAverage
    return row

nfl.apply(remean_4Down, axis='columns')

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019100605,2019-10-06,1,2,25,OAK,CHI,1,1.868318,50,...,0,0,NaN,50,OPP,0,NaN,0,NaN,0
1,2019100605,2019-10-06,1,1,45,OAK,CHI,2,0.868318,51,...,0,0,RIGHT GUARD,49,OPP,0,NaN,0,NaN,0
2,2019101400,2019-10-14,1,10,34,DET,GB,1,1.868318,84,...,0,0,RIGHT TACKLE,16,OPP,0,NaN,0,NaN,0
3,2019101400,2019-10-14,1,9,55,DET,GB,2,0.868318,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
4,2019101400,2019-10-14,1,9,10,DET,GB,3,-5.131682,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0
5,2019111004,2019-11-10,1,7,27,NO,ATL,1,1.868318,56,...,0,0,NaN,44,OPP,0,NaN,0,NaN,0
6,2019111004,2019-11-10,1,6,44,NO,ATL,1,1.868318,78,...,0,0,NaN,22,OPP,0,NaN,0,NaN,0
7,2019111700,2019-11-17,3,4,9,BAL,HOU,2,-7.131682,70,...,0,0,NaN,30,OPP,0,NaN,0,NaN,0
8,2019111700,2019-11-17,3,3,28,BAL,HOU,1,1.868318,73,...,0,0,NaN,27,OPP,1,BAL,1,FALSE START,5
9,2019111100,2019-11-11,1,12,16,SF,SEA,2,1.868318,51,...,0,0,LEFT END,49,OPP,0,NaN,0,NaN,0
10,2019111100,2019-11-11,1,11,44,SF,SEA,3,-2.131682,55,...,0,0,NaN,45,OPP,1,SEA,1,DEFENSIVE PASS INTERFERENCE,5
11,2019111100,2019-11-11,1,11,13,SF,SEA,1,1.868318,60,...,0,0,NaN,40,OPP,0,NaN,0,NaN,0
12,2019111100,2019-11-11,1,10,27,SF,SEA,2,3.868318,58,...,0,0,NaN,42,OPP,0,NaN,0,NaN,0
13,2019112405,2019-11-24,3,9,33,CAR,NO,3,-3.131682,53,...,0,0,NaN,47,OPP,0,NaN,0,NaN,0
14,2019120200,2019-12-02,2,5,9,MIN,SEA,0,-8.131682,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
15,2019120200,2019-12-02,2,3,50,SEA,MIN,2,-2.131682,51,...,0,0,NaN,49,OPP,0,NaN,0,NaN,0
16,2019120500,2019-12-05,1,3,35,CHI,DAL,1,1.868318,67,...,0,0,LEFT TACKLE,33,OPP,0,NaN,0,NaN,0
17,2019120500,2019-12-05,1,2,57,CHI,DAL,2,0.868318,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
18,2019121504,2019-12-15,3,6,5,DEN,KC,1,1.868318,59,...,0,0,RIGHT END,41,OPP,0,NaN,0,NaN,0
19,2019121504,2019-12-15,3,5,27,DEN,KC,2,-1.131682,62,...,0,0,NaN,38,OPP,1,KC,1,DEFENSIVE HOLDING,5
20,2019121504,2019-12-15,3,5,22,DEN,KC,1,1.868318,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
21,2019121509,2019-12-15,4,1,28,CLE,ARI,2,-7.131682,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
22,2019122213,2019-12-22,2,0,47,ARI,SEA,2,0.868318,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
23,2019122213,2019-12-22,2,0,52,ARI,SEA,1,1.868318,78,...,0,0,LEFT GUARD,22,OPP,0,NaN,0,NaN,0
24,2019122213,2019-12-22,2,1,24,ARI,SEA,1,1.868318,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
25,2019122213,2019-12-22,2,1,52,ARI,SEA,4,-6.131682,53,...,0,0,NaN,47,OPP,0,NaN,0,NaN,0
26,2019122213,2019-12-22,2,2,0,ARI,SEA,3,-7.131682,54,...,0,0,NaN,46,OPP,0,NaN,0,NaN,0
27,2019122213,2019-12-22,2,4,16,ARI,SEA,0,-8.131682,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
28,2019122213,2019-12-22,2,4,29,ARI,SEA,2,-1.131682,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
29,2019122213,2019-12-22,2,5,13,ARI,SEA,1,1.868318,76,...,0,0,NaN,24,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42156,2019091502,2019-09-15,2,2,0,NaN,LAC,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42157,2019091500,2019-09-15,3,7,28,NaN,ARI,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42158,2019091503,2019-09-15,4,0,0,NaN,MIN,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42159,2019091200,2019-09-12,3,0,54,TB,CAR,1,1.868318,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
42160,2019091200,2019-09-12,2,0,0,NaN,TB,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42161,2019091502,2019-09-15,1,8,2,NaN,LAC,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42162,2019091501,2019-09-15,2,2,0,NaN,SF,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42163,2019090900,2019-09-09,2,14,19,HOU,NO,4,-7.131682,79,...,0,0,LEFT END,21,OPP,0,NaN,0,NaN,0
42164,2019090812,2019-09-08,4,0,0,NaN,PIT,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42165,2019090812,2019-09-08,3,0,0,NaN,PIT,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42166,2019090812,2019-09-08,2,0,0,NaN,PIT,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42167,2019090811,2019-09-08,3,0,0,NaN,SF,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42168,2019090811,2019-09-08,2,0,0,NaN,SF,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42169,2019090810,2019-09-08,4,0,0,NaN,NYG,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42170,2019090901,2019-09-09,2,7,44,NaN,DEN,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42171,2019090810,2019-09-08,2,0,0,NaN,NYG,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42172,2019090807,2019-09-08,2,1,18,NaN,IND,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42173,2019090807,2019-09-08,2,10,6,NaN,IND,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42174,2019090806,2019-09-08,4,3,18,NaN,WAS,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42175,2019090805,2019-09-08,3,0,0,NaN,BUF,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42176,2019090804,2019-09-08,3,0,0,NaN,ATL,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42177,2019090809,2019-09-08,1,4,56,ARI,DET,4,-7.131682,43,...,0,0,NaN,43,OWN,0,NaN,0,NaN,0
42178,2019090806,2019-09-08,1,0,0,NaN,WAS,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42179,2019090801,2019-09-08,2,0,0,NaN,TEN,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42180,2019090803,2019-09-08,4,0,0,NaN,BAL,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42181,2019090803,2019-09-08,3,7,54,BAL,MIA,0,-8.131682,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
42182,2019090800,2019-09-08,3,0,0,NaN,LA,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42183,2019090800,2019-09-08,1,0,0,NaN,LA,0,-8.131682,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
42184,2019090500,2019-09-05,3,15,0,GB,CHI,0,-8.131682,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
42185,2019090500,2019-09-05,2,13,8,GB,CHI,0,-8.131682,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0

Both the mapping and apply done above give you the same result, but just in different formats.